hr.divider {
	background: {
		image: $divider;
		repeat: no-repeat;
		position: center center;
		size: 100%;
	}
	margin: 0;
	padding: 5vw 0;
	border: none;

	@media($large) {
		padding: 30px 0;
		width: 100%;
		display: block;
	}
}

.fa-heart {
	color: $white;
}