/* Colores */
$white: white;
$black: black;
$body-color: #5d5d5d;
$violeta: #7e4ffb;
$rosa: #f58d86;

/* Media queries */
$medium: "min-width: 768px";
$large: "min-width: 1024px";
$xlarge: "min-width: 1260px";

/* Tipografías */
$titulos: 'Brushylicious';
$body-font: 'Quicksand', sans-serif;
$regular: 400;
$bold: 700;

/* Íconos */
$hojita: url('../../assets/img/hojita.svg');
$divider: url('../../assets/img/vivorita.svg');
$mano1: url('../../assets/img/mano_sobremi.svg');
$mano2: url('../../assets/img/mano_misdatos.svg');
$flecha: url('../../assets/img/flecha.svg');
$flecha-small: url('../../assets/img/flecha2.svg');
$compu: url('../../assets/img/compu.svg');