#datos {

	h2 {
		margin-bottom: 0;
		margin-top: 5vw;

		&:after {
			content: $mano2;
			display: inline-block;
			vertical-align: top;
			width: 15vw;
		}

		span {
			display: inline-block;
			vertical-align: top;
		}
	}
}