#datos {

	h2 {
		margin-bottom: 0;
		margin-top: 5vw;

		&:after {
			content: $mano2;
			display: inline-block;
			vertical-align: top;
			width: 15vw;
			transform-origin: top left;
			animation: manoShaking 1s infinite;
		}

		span {
			display: inline-block;
			vertical-align: top;
		}
	}

	@media($large) {

		h2 {
			margin-top: 50px;

			&:after {
				width: 70px;
				margin-top: 25px;
			}
		}

		p {
			margin-top: -55px;
			margin-bottom: 55px;
		}
	}
}