footer {
	background-color: $violeta;
	padding: 5vw 10vw;
	color: $white;

	a {
		display: block;
		color: $white;
		margin-bottom: 4vw;

		.fa {
			font-size: 8vw;
		}

		span {
			font-size: 4.5vw;
		}
	}

	.btn {
		background-color: $rosa;
		border-radius: 2vw;
		text-align: center;
		padding: 3vw;
		font-weight: $bold;
	}

	@media($large) {
		padding: 50px 0;

		a {
			margin-bottom: 20px;

			.fa {
				font-size: 50px;
			}

			span {
				font-size: 23px;
			}
		}

		.btn {
			border-radius: 15px;
			padding: 10px;
			font-size: 23px;
		}
	}
}