footer {
	background-color: $violeta;
	padding: 5vw 10vw;
	color: $white;

	a {
		display: block;
		color: $white;
		margin-bottom: 4vw;

		.fa {
			font-size: 8vw;
		}

		span {
			font-size: 4.5vw;
		}
	}

	.btn {
		background-color: $rosa;
		border-radius: 2vw;
		text-align: center;
		padding: 3vw;
		font-weight: $bold;
	}

	@media($large) {
		padding: 50px 0;

		a {
			margin-bottom: 20px;

			.fa,
			span {
				vertical-align: bottom;
				display: inline-block;			
			}

			.fa {
				font-size: 50px;
				transition: all 0.2s ease-in-out;
				line-height: 1;
			}

			span {
				font-size: 23px;
			}

			&:hover {
				color: $white;

				.fa {
					color: $rosa;
					transform: translate(-2px, -2px);
					border-radius: 5px;
					box-shadow: 5px 5px 0 darken($violeta, 3%);
				}
			}
		}

		.btn {
			border-radius: 15px;
			padding: 10px;
			font-size: 23px;
			transition: all 0.2s ease-in-out;

			&:visited,
			&:active {
				color: $white;
			}

			&:hover {
				transform: translate(-5px, -5px);
				box-shadow: 5px 5px 0 darken($violeta, 3%);
			}
		}
	}
}